<div id="homepage" class="">
	<div class="top-section">
		<div class="container-fluid">
			<div style="min-height: 550px;"class="row">
<!-- 				<div class="col-sm-2 left-side">
					.
				</div> -->

				<div style="min-height: 100vh;" class=" col-sm-12 homepage-center-text middle-side">
					<h2 style="font-size:35px">skip the grocery list</h2>
					<p style="font-size:20px; text-align:center">cook dinner with a bento box full of fresh, all-natural ingredients from elm city market</p>
<!-- 					<select style="">
					  <option value="1">Elm City Market, New Haven, CT</option>
					</select> -->
					<%= button_to( "today's bento boxes", products_path, :method => :get, :class => 'logo-title', :style => "background-color: #61dff0; color:white; border: none " )  %> 
				</div>
				</div>
<!-- 				<div class="col-sm-2 right-side">.</div>
 -->
		</div>
	</div>
</div>