<%= render 'walden_items_clean', :order => current_order %>
  <div class="container begin-checkout">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">

<div class="inherit-color"><%= button_to "Place order",:class => "checkout-link" %></div>

      </div>
    </div>
  </div>
