*{
  font-family: 'Avenir', sans-serif; 
  font-weight:400;
}
.site-color{
	background-color: #f2f2f2;
}
.top-section{
	width: 100%;
	// background-image: url("http://res.cloudinary.com/grubhub-marketing/image/upload/v1460472623/Marketing%20assets/2016-MarchSeasonal-Desktop-1200by550px-GH.jpg") ;
	// background-repeat: no-repeat;
	// background-size: 100%;
	
	.middle-side{
	background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,0,0,0.55) url("https://s3-eu-west-1.amazonaws.com/bento-io-ireland/attachment/10/shrimp_john-compressor.jpg") ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 0px;
}

@media (max-width: 800px) {
	.middle-side{
		background-size: auto 100%;
	}
}

	h2{
		margin-bottom: 15px;
		padding-top: 15%;
		font-weight: 900;
	}

	p{
		text-align: left; 
		color: white; 
		margin-bottom: 10px;
		font-weight: 900;
	}

	select{
		display: inline;
		text-align: center;
		width: 400px;
	}

	form{
		display: inline;
	}

	input{
		
	}

	.homepage-center-text{
		font-family: 'Avenir';
		text-align: center;
		color: white;
		font-weight: 900;
		vertical-align: middle;
	}
}


.wrap-nav{
	z-index: 100;
	width: 100%;
	background-color: white;
	
	.basket{
		font-weight: 900; 
		color: #cccccc; 
		font-size: 15px;
	}
	.logo-title{
		top: 15px;
		display: inline-block;
    	position: relative;
		color: #61dff0;
		font-weight: 900;
		font-family: 'Avenir', sans-serif;
		font-size: 25px;
		text-decoration: none;
	}

	.mainNavCart-itemQty{
	    font-size: 15px;
	    font-weight: 900;
	    position: relative;
	    display: block;
	    text-align: center;
	    color: #61dff0;
  	}

  	.cart{
  		padding-top: 11px;
  		padding-bottom: 11px;
  	}
}

#product-show{
  .tier{
  	font-size: 1.5em;
  }
}

#product-index{

@media (max-width: 600px) {
	.resize-index{
		text-align: center;
	}
}

	.resize-index{
		// content: '';
		// text-align: justify;
	}
  .grid-item{
		background-color: white;
		display: inline-block;
		margin: 35px 20px;
		p{
			font-size: 15px;
			padding:35px;
			margin: 0;
		}
	}

	p{
		&.yaki-linguine{
			background-color: #adadad;
			color: white;
		}
		&.tilapia{
			background-color: #97cbcd;
			color: white;
		}
		&.shrimp-pasta{
			background-color: #344763;
			color: white;
		}
		&.vegetable-quinoa-bowl{
			background-color: #b88f80;
			color: white;
		}
		&.roasted-chicken-tacos{
			background-color: #4d3944;
			color: white;
		}

	}

	.preview-pane{
		height: 150px;
		background-size: cover; 
		z-index: 2;
		td{
			border:none;
			text-align: center;
		}

		.headline-name{
			font-size: 25px;
			font-weight: 900;
			padding-top: 20px;
		}
		
		.preview-info{
			color:white;
			.table-pane{
				padding-top: 36.25px;
			}
			table{
				margin-bottom: 0px;
			}
			.white{
				opacity: .7;
				padding: 0px;
			}
			td{
				padding-top: 0px;
				font-weight: 900;
			}
		}
	}
	

	.popup-wrapper{
		position: absolute;
    	bottom: 0;
    	width: 100%;
    	a{
    		color: white;
    		font-weight: 900;
    		text-decoration: none;
    	}
    	&.yaki-linguine{
					background-color: #adadad;    	
		}
		&.shrimp-pasta{
				background-color:#344763;
		}
		&.vegetable-quinoa-bowl{
				background-color:#b88f80;
		}
		&.tilapia{
				background-color:#97cbcd
;
		}
		&.roasted-chicken-tacos{
				background-color:#4d3944;
		}
    	.add-to{

			background-color: #61dff0;

    	}
    	p{
		font-size: 15px;
		font-weight: 900;
    	margin:0px;
    	padding-bottom: 30px;
    	padding-top: 30px;
    	}
	}
}

#checkout-table{
	border:0;
	tr{
		border: 0;
	}
	td{
		border-left: 0;
		border-right: 0;
	}
}

.group-buttons{
	form{
		display: inline;
		margin-right: 5px;
	}
}

#site-navigation-sticky-wrapper{
	height:70px !important;
}
#preview-pane-sticky-wrapper{
	height:150px !important;
}



// for walden items

	.preview-pane{
		height: 150px;
		background-size: cover; 
		z-index: 2;
		margin-bottom: 37.5px;
		td{
			border:none;
			text-align: center;
		}
		
		.headline-name{
			font-size: 25px;
			padding-top: 20px;
			a{
			color: white;
			font-weight: 900;
			text-decoration: none;
			}
		}
		
		.preview-info{
			color:white;
			.table-pane{
				padding-top: 36.25px;
				span{
					a{
						color: white;
						font-weight: 900;
					}
				}
			}
			table{
				margin-bottom: 0px;
			}
			.white{
				opacity: .7;
				padding: 0px;
			}
			td{
				padding-top: 0px;
				font-weight: 900;
			}
		}
	}
	.begin-checkout{
		text-align: center;
		a{
			font-weight: 900;
			padding: 25.5px;
			display: block;
			text-decoration: none;
			&.checkout-link{
				background-color: white;
				color: #61dff0;
			}
			&.emptybox-link{
				background-color: #cccccc;
				color: white;
			}
		}
		form{
			margin: 0px;
			width: 100%;
			background-color: #61dff0;
			padding: 18.5px;
			select{
				border: none;
				background-color: #61dff0;
				color: white;
				font-weight: 900;
			}
		}
		table{
			background-color: #61dff0;
			border: none;
			margin: 0px;
			td{
				color: white;
				font-weight: 900;
				border: none;
				padding-top:6.75px;
				padding-bottom: 0px;
				text-align: center;
			}
			tr{
				color: white;
				padding: 6.75px;
				&.top{
					opacity: .7;
				}
				text-align: center;
				padding: 0px;
			}
		}
	}


#checkout-page{
	.form-background{
		background-color: white;
	}
	.field-padding{
		margin: 37.5px;
	}

	.totals{
		color: #cccccc;
		font-weight: 900;
		padding: 10px;
		font-size: 15px;
		span{
			color: #61dff0;
			display: block;
			font-weight: 900;
		}
	}
	form{
		dd:last-child{
			padding-bottom: 15px;
		}
		dt{
			padding-top: 15px;
			color: #cccccc;
			label{
				font-weight: 900;
			}
		}
		input{
			color: #61dff0;
			font-weight: 900;
			width: 100%;
		}
		select{
			width: 100%;
		}
	}
}
#payment{
	form{
		background-color: white;
		padding:15px;
		color: #cccccc;
		dt:first-child{
			// padding-top: 15px;
		}
		label{
			padding-right:20px;
		}
		dd{
			margin-bottom: 15px;
			color: #61dff0;
			font-weight: 900;
			select{
				color: #61dff0;
				font-weight: 900;
			padding-right:20px;
		}
		}
		input{
			width: 100%;
		}
	}
}
.inherit-color{
	form{
	input{
		background-color: #61dff0;
		border: none;
		color: white;
	}
	input:hover{
		color:white;
		font-family: 'Avenir';
	}
}
}
.footer{
	margin: auto;
	padding: 9.75px;
    position: fixed;
    font-weight: 900;
    background-color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #61dff0;
}